.bgLogin {
    padding-top: 150px;
    min-height: 100vh;
    background-image:url(../../asset/backapp.b46ef3a1.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}